# Database URL (Optional/legacy)
DATABASE_URL="postgresql://localhost:5432/app_db"

# Shopify Storefront API Configurations
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN="bereket-foods-2.myshopify.com"
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN="f920c494057286583dfa6d852bab8206"
